.cardGeneral {
    width: 550px;
    /* height: 100%; */
    padding: 20px;
    background-color: #FAE6C5 !important;
    /* background-color: blueviolet !important; */
}

.insideFrameModal {
    /* background-color: burlywood; */
    /* position: absolute; */
    height: 100%;
}

.cardLocalization {
    /* background-color: blueviolet; */
    padding-bottom: 1em;
}

.mainWordBoxCard {
    font-weight: bold;
}

.addressLinkCard a {
    color: inherit;
    /* text-decoration: inherit; */
    /* cursor: inherit; */
}

.imageModal {
    height: 280px;
}

.dateDetailed {
    margin: 0 auto;
}

.titleModal {
    font-size: 40px;
    font-family: 'Bebas Neue';
    font-weight: 800;
    line-height: 1em;
    margin: 0 auto;
    padding: 10px;
}

.modalTextBox {
    background-color: #F2C571;
}

.textModal {
    font-family: 'Libre Baskerville';
    /* text-transform: uppercase; */
    font-size: 0.8rem;
    margin-top: 5px;
    text-align: justify;
}

.addressModal {
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 20px;
    line-height: 1em;
    text-align: left;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

hr.solid {
    border-top: 3px solid #bbb;
}