.materialTableGeneral {
    margin: 0 auto;
    background-color: #FAE6C5;
}

.fullTableActiv {
    width: 80%;
    background-color: #EB5E3E;
}

.MuiTableSortLabel-root {
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
}

.MuiPaper-root,
.MuiTableCell-head {
    background-color: #FAE6C5!important;
}

.column {
    float: left;
    width: 50%;
}

.row {
    max-width: 100%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.mainActivitatTitle {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 0.8em;
}

.mainActivitatSubtitle {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.activitatText {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    /* delimitar lineas verticales */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.activitatImg {
    max-width: 200px;
    text-align: right;
    width: 20%;
}

.activitatDescripcio {
    margin-left: 1em;
    width: 70%;
}

.imgMiniActivitat {
    width: 70%;
    height: auto;
    max-height: 80px;
    object-fit: cover;
    vertical-align: middle;
}

.horaDataActivitat {
    text-align: center;
    justify-content: center;
    width: 200px;
}

.cardActivitat {
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    margin-right: 1rem;
}

.horaDataPetit {
    margin: 0 auto;
    display: none;
}

@media screen and (max-width: 1210px) {
    .row {
        display: flex;
        width: 100%;
    }
    .activitatImg {
        display: none;
        /* width: 50px;
        height: 50px; */
    }
    .activitatDescripcio h1 {
        font-size: 2rem;
    }
    .activitatDescripcio {
        width: 100%;
    }
    .horaDataActivitat h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 960px) {
    table tbody tr td:nth-child(4),
    .MuiTableCell-paddingCheckbox:last-child {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    table tbody tr td:nth-child(3),
    .MuiTableCell-head:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    table tbody tr td:nth-child(2),
    .MuiTableCell-head:nth-child(2),
    .MuiToolbar-regular,
    .MuiTableRow-head {
        display: none !important;
    }
    .horaDataPetit {
        display: block;
    }
    .MuiTablePagination-toolbar {
        display: flex !important;
    }
}