.row-support-locals__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 260px;
  padding: 10px;
}

.row-support-locals__item img {
  left: 50%;
  width: 100%;
  position: relative;
  transform: translateX(-50%);
  object-fit: cover;
  height: inherit;
}

.row-support-locals__item .container-img {
  width: 33.3%;
  height: 260px;
  padding: 10px;
}
