.media-section__gral {
  height: auto;
  width: 100%;
  padding: 20px 0px 40px 0px;
}

.media-section__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.media-section__links div {
  position: relative;
  margin-top: 20px;
}

.media-section__links div a {
  width: 100%;
  font-size: 34px;
  font-family: "Bebas Neue";
  font-weight: 900;
  line-height: 1em;
  color: #212529;
  text-decoration: none;
  text-overflow: ellipsis;
}

@media (max-width: 500px) {
  .media-section__links div a {
    font-size: 24px;
  }
}

.media-section__links div a:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
  opacity: 0.3;
  -webkit-transform: scaleX(0.9);
  transition-property: opacity, -webkit-transform;
  transition-duration: 0.3s;
}

.media-section__links div a:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
}

.media-section__player {
  width: 90%;
}
