.questions-section__plus-box {
  display: flex;
  background-color: var(--color-negro);
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

.questions-section__plus-box svg {
  vertical-align: super;
}
