.contenedorContacto {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

.inputGroupNews {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border: 2px solid #1D1D1B;
    border-radius: 15px;
}

.formControlNews {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
    margin-right: 10px;
    background-color: #F2C571;
    border: none;
    border-color: transparent;
    width: 90%;
}

.formControlNews:focus,
.formControlNews:active {
    background-color: #F2C571;
    border: none;
    border-color: transparent;
}

.formControlNews::placeholder {
    color: #1D1D1B;
}

.formButton {
    font-family: 'Libre Baskerville';
    font-size: 1.5rem;
    width: 15rem;
    background-color: #F2C571;
}

.iconsFooter {
    padding-bottom: 2rem;
}

.iconsFooter a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.iconsFooter svg {
    font-size: 3rem;
}

.rowNewsLine {
    margin: 0 auto;
}

.rowNews {
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.formLabelNews {
    font-family: 'Bebas Neue';
    font-size: 3em;
    font-weight: 900;
}

.endingText {
    font-family: 'Libre Baskerville';
}

@media screen and (max-width: 990px) {
    .formLabelNews {
        font-size: 2em;
    }
    .formControlNews {
        font-size: 1rem;
        margin-right: 5px;
    }
    .formButton {
        font-size: 1rem;
        width: 10rem;
    }
}