.image-carousel-root {
    /* max-width: 400px; */
    flex-grow: 1;
    margin: 0 auto;
}

.image-carousel-img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 457px;
    max-height: 457px;
    overflow: hidden;
}

.image-carousel-div {
    display: flex;
    justify-content: center;
}