.top-section-gral{
    height: auto;
    width: 100%;
    background-color: #FAE6C5;
}
.entrevista-gral{
    height: auto;
    width: 100%;
    background-color: #FFED00;
}

.media-gral{
    height: auto;
    width: 100%;
    background-color: #F2C571;
}

.activitats-gral{
    height: auto;
    width: 100%;
    background-color: #EB5E3E;
}

.top-section_entr {
    margin-top: 50px;
}

.ts-title {
    font-size: 90px;
    font-family: 'Bebas Neue';
    font-weight: 800;
    line-height: 1em;
}

.ts-breadcrumbs {
    font-family: 'Bebas Neue';
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.ts-breadcrumbs span {
    cursor: pointer;
}

.ts-breadcrumbs span:hover {
    text-decoration: underline;
}

.bio-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    width: 90%;
    padding-top: 30px;
    margin: 0 auto;
}

.bio-highlights,
.bio-text,
.bio-img {
    width: 32%;
    display: block;
    /* height: 100px; */
}

.bio-img {
    /* height: 100px; */
}

.bio-text {
    background-color: thistle;
    text-align: left;
}

.bio-highlights {
    background-color: yellowgreen;
    padding-top: 30px;
}

.bio-data{
    font-size: 40px;
    font-family: 'Bebas Neue';
    font-weight:100;
    text-align: left;
    padding-left: 40px;
    line-height: 1em;
   

}

.bio-data > span {
    font-weight: 700;
}

.bio-img-src {
    width: 100%;
    height: auto;
    max-width: 550px;
    margin: 20px 0px 20px 0px;
}

.entrevista-columnes{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    width: 90%;
    padding-top: 30px;
    margin: 0 auto;

}

.pregunta{
    font-size: 40px;
    font-family: 'Bebas Neue';
    font-weight:100;
    text-align: left;
}

.plus-symbol{
    color: #FFED00;
    background-color: #1D1D1B;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1px;
}