/* ARTICLES */

.cardSupportDeck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.fullcard {
    flex: 1 0 30%;
    margin: 0 auto;
    margin-bottom: 3rem;
    overflow: hidden;
    width: 36rem;
    height: 340px;
    max-width: 36rem;
}

.cardSupport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: black;
}

/* .cardSupport:hover {
    opacity: 1;
} */

.cardSupportImgTop {
    display: block;
    width: 100%;
    height: 500px;
    max-height: 500px;
    object-fit: cover;
    z-index: 0;
    transition: all .4s ease;
    opacity: 0.6;
    /* vertical-align: middle; */
}

.cardSupportImgTop:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

.cardSupportTitle {
    position: absolute;
    left: 5%;
    top: 25%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 8rem;
    font-family: 'Bebas Neue';
    font-weight: 800;
    font-style: italic;
    line-height: 1em;
    text-transform: uppercase;
    color: #FAE6C5;
    text-align: left;
}

.cardSupportPlusBox{
    position: absolute;
    width: 4rem;
    height: 4rem;
    font-size: 4em;
    line-height: 0.8em;
    font-weight: 800;
    font-style: bold;
    color: #FAE6C5;
    background-color: #1D1D1B;
    right: 5%;
    bottom: 5%;
}

.cardTagBox{
    position: absolute;
    width: 4rem;
    height: 3rem;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 600;
    color: #FAE6C5;
    background-color: #1D1D1B;
    left: 5%;
    top: 5%;
}

@media screen and (max-width: 1500px) {
    .fullcard {
        flex: 1 0 50%;
    }
}

@media screen and (max-width: 600px) {
    .fullcard {
        flex: 1 0 100%;
    }
}