.backgroundGrid {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #F2C571;
    margin: auto;
    padding: 40px;
}

.gridList {
    width: 1800px;
    margin: -30px;
}

@media screen and (max-width: 950px) {
    .gridImg {
        width: auto;
    }
}