.SupportSubtitle {
  margin-top: -5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Bebas Neue";
  font-weight: 100;
  margin-bottom: 1rem;
  width: 100%;
}

@media screen and (max-width: 620px) {
  .SupportSubtitle {
    margin-top: -2rem;
    font-size: 10vw;
  }
}

div.PowerTitle {
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
