.BGWrapper {
    /* display: none; */
    margin-bottom: 0px;
}

.SupportSubtitle {
    margin-top: -5rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
    font-weight: 100;
    margin-bottom: 1rem;
}

/* Animacion de hover title */

@keyframes TitleHovered {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }

    2% {
        background-color: rgba(255, 0, 0, 0.8);
    }

    23% {
        background-color: rgba(255, 255, 0, 0);
    }

    25% {
        background-color: rgba(255, 255, 0, 0.8);
    }

    48% {
        background-color: rgba(0, 0, 255, 0);
    }

    50% {
        background-color: rgba(0, 0, 255, 0.8);
    }

    98% {
        background-color: rgba(0, 128, 0, 0);
    }

    100% {
        background-color: rgba(0, 128, 0, 0.8);
    }
}

div.PowerTitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

div.PowerTitle:hover  {
    color: tomato;
    background-color: yellowgreen;
    animation-name: TitleHovered;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* .SupportContent:hover {
    color: tomato;
    background-color: yellowgreen;
    animation-name: TitleHovered;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} */

/* 
.SupportContent {
    pointer-events: none;
}

div.PowerTitle{
    pointer-events: auto;
} */