.title-section-support{
    font-size: 60px;
    font-family: 'Bebas Neue';
    font-weight: 800;
    line-height: 0.6em;
}

.hr-section{
    width: 90%;
    border-top: 1px solid #1D1D1B;
    opacity: 40%;
}