.title-section-support {
  font-size: 60px;
  font-family: "Bebas Neue";
  font-weight: 800;
  line-height: 0.6em;
}

@media (max-width: 700px) {
  .title-section-support{
      font-size: 44px;
  }
}

.hr-section {
  width: 90%;
  border-top: 1px solid #1d1d1b;
  opacity: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}
