/* CartToast styles */

.toast-box a {
  width: 100%;
  height: auto;
  background-color: var(--color-negro);
  color: var(--color-negro);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.toast-left-in-box {
  width: 75%;
  height: auto;
  background-color: var(--color-cream);
  padding: 2px;
}

.toast-left-in-box > span {
  color: var(--color-rojo);
}

.toast-right-in-box {
  width: 22%;
  height: auto;
  background-color: var(--color-rojo);
  color: var(--color-cream);
  padding: 2px;
}
