/* CartToast styles */

.toast-box a {
  width: 100%;
  height: auto;
  background-color: #1d1d1b;
  color: #1d1d1b;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: "Bebas Neue";
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}

.toast-left-in-box {
  width: 75%;
  height: auto;
  background-color: #fae6c5;
  padding: 2px;
}

.toast-left-in-box > span {
  color: #eb5e3e;
}

.toast-right-in-box {
  width: 22%;
  height: auto;
  background-color: #eb5e3e;
  color: #fae6c5;
  padding: 2px;
}
