.title-inner-section {
  font-size: 40px;
  font-family: "Bebas Neue";
  font-weight: 400;
}

.row-separator {
  width: var(--row-separator-width, 85%);
  height: 2px;
  border-bottom: var(--row-separator-border, 2px solid black);
  margin: 5px auto;
}

.styled-main-column-view {
  padding: 0 60px;
  margin-bottom: 60px;
}

@media screen and (max-width: 980px) {
  .styled-main-column-view {
    padding: 0 20px;
  }
}
