#associacio {
  background-color: #eb5e3e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

.cover-box {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#associacio > .wrapper {
  /* margin-top: 100vh; */
  margin-top: -6px;
}

.portadaFallback {
  width: 100%;
  height: auto;
}
