.close-modal-box {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  background-color: #fae6c5;
  border: 2px solid #000;
  padding: 20px;
  box-shadow: 24;
  z-index: 2010;
}

.close-modal-text-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.close-modal-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.close-modal-button-row a {
  text-decoration: none;
}
