.modal-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-row a {
  text-decoration: none;
  width: 100%;
}

.modal-row button {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.modal-row button:hover:not([disabled]) #hoverable-black-svg path {
  fill: var(--color-negro);
}

.modal-close-icon {
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
}

.modal-close-icon svg {
  cursor: pointer;
  float: right;
  max-height: 24px;
  margin-top: -20px;
  z-index: 1000;
}

.modal-sizes-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-center-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
}
