.MuiGrid-container {
    width: 90% !important;
}

.Card3GridContainer {
    width: 100% !important;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Card3GridItem {
    width: 30.53%;
    height: auto;
    margin: 26px;
}

.MuiGrid-item {
    margin: auto !important;
}

.cardMediaTitle {
    overflow: hidden;
    /* delimitar lineas verticales */
    display: -webkit-box;
    /* delimitar lineas verticales */
    -webkit-line-clamp: 1;
    /* delimitar lineas verticales */
    -webkit-box-orient: vertical;
    /* delimitar lineas verticales */
}

@media screen and (max-width: 1250px) {
    .cardMediaTitle {
        font-size: 2.5rem;
    }
    .cardMediaText {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1008px) {
    .cardMediaTitle {
        font-size: 2rem;
    }
    .cardMediaText {
        font-size: 1rem;
    }
}

@media screen and (max-width: 641px) {
    .Card3GridItem {
        width: 80%;
        height: auto;
        margin: 26px;
        padding-top: 10px;
    }
    .cardMediaTitle {
        font-size: 3rem;
    }
}


/*
@media screen and (max-width: 322px) {
    .fullcard {
        width: 94.7%;
        height: auto;
        display: inline-block;
    }
    .card-title {
        font-size: 1.4rem;
    }
}


*/