.Card3GridContainer {
    width: 100% !important;
    margin: auto;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    justify-content: space-around;
}

.Card3GridItem {
    width: 30.53%;
    height: auto;
    margin: 26px;
}

.MuiGrid-item {
    margin: auto !important;
}

@media screen and (max-width: 1872px) {
    .cardMediaTitle {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 1490px) {
    .cardMediaTitle {
        font-size: 4.5rem;
    }
    .cardMediaSort {
        top: 0;
        width: 109px;
        height: 46px;
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1250px) {
    .cardMediaTitle {
        font-size: 4rem;
    }
    /* .cardMediaText {
        font-size: 0.5rem;
    } */
}

@media screen and (max-width: 1090px) {
    .cardMediaTitle {
        font-size: 9rem;
    }
    /* .cardMediaText {
        font-size: 3rem;
    } */
    .cardMediaDate {
        font-size: 8.5em;
    }
    .cardMediaPlus {
        font-size: 10em;
    }
    .Card3GridItem {
        width: 90%;
        height: auto;
        /* margin: 26px; */
        padding-top: 10px;
    }
    .Card3GridContainer {
        margin-top: 0px;
    }
    .cardMediaSort {
        width: 128px;
        height: 53px;
        font-size: 3em;
    }
}

@media screen and (max-width: 815px) {
    .cardMediaTitle {
        font-size: 6rem;
    }
    .cardMediaDate {
        font-size: 6.5em;
    }
    .cardMediaPlus {
        font-size: 8em;
    }
}

@media screen and (max-width: 550px) {
    .cardMediaTitle {
        font-size: 4.5rem;
    }
    .cardMediaSort {
        top: 0;
        width: 109px;
        height: 46px;
        font-size: 2.5em;
    }
    .cardMediaDate {
        font-size: 4.5em;
    }
    .cardMediaPlus {
        font-size: 6em;
    }
}

@media screen and (max-width: 416px) {
    .Card3GridItem {
        padding-bottom: 5px;
    }
    .cardMediaTitle {
        font-size: 4rem;
    }
    .cardMediaSort {
        top: 0;
        width: 109px;
        height: 46px;
        font-size: 2.5em;
    }
    .cardMediaDate {
        font-size: 3.5em;
    }
    .cardMediaPlus {
        font-size: 5em;
    }
}

@media screen and (max-width: 322px) {
    .cardMediaTitle {
        font-size: 3rem;
    }
}


/*
@media screen and (max-width: 322px) {
    .fullcard {
        width: 94.7%;
        height: auto;
        display: inline-block;
    }
    .card-title {
        font-size: 1.4rem;
    }
}


*/