/* .cardFrame {
    position: relative;
} */

.cardMedia {
    height: 100%;
    width: 100% !important;
    object-fit: contain !important;
}

.cardMediaTitle {
    position: absolute;
    color: #FAE6C5;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30% 0;
    padding-left: 20px;
    font-size: 7em;
    font-family: 'Bebas Neue';
    font-weight: 400;
    line-height: 0.8em;
    text-align: left;
    word-break: keep-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardMediaSort {
    position: absolute;
    color: #FAE6C5;
    background-color: #1D1D1B;
    top: 0;
    width: 128px;
    height: 53px;
    text-align: center;
    padding: 4px 0;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 10px;
    font-size: 3em;
    font-family: 'Bebas Neue';
    font-weight: 400;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
    /* border: 2px solid #FAE6C5; */
    /* border-radius: 20px; */
}

.column1 {
    width: 80%
}

.column2 {
    width: 20%
}

.cardMediaDate {
    font-size: 4.5em;
    font-family: 'Bebas Neue';
    font-weight: 900;
    line-height: 1em;
    text-align: left;
    overflow: hidden;
    padding-left: 10px;
}

.cardMediaPlus {
    font-size: 6em;
    font-family: 'Bebas Neue';
    font-weight: 900;
    line-height: 0.8em;
    text-align: right;
    overflow: hidden;
}

.cardFrame {
    background-color: #FAE6C5 !important
}