.Card3GridContainer {
    width: 100% !important;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.Card3GridItem {
    width: 30.53%;
    height: auto;
    margin: 26px;
}

.Card3GridItem>div {
    border-radius: 0px;
}

.MuiGrid-item {
    margin: auto !important;
}

.cardMediaPlus{
    margin-right: 8px;
}

@media screen and (max-width: 1872px) {
    .cardMediaTitle {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 1490px) {
    .cardMediaTitle {
        font-size: 4.5rem;
    }
    .cardMediaSort {
        top: 0;
        font-size: 2.5em;
        width: auto;
    }
}

@media screen and (max-width: 1250px) {
    .cardMediaTitle {
        font-size: 3.8rem;
    }
    .cardMediaDate {
        font-size: 3.2em;
    }
}

@media screen and (max-width: 999px) {
    .Card3GridPaper {
        max-width: 900px !important;
    }
    .cardMediaTitle {
        font-size: 7rem;
    }
    .cardMediaDate {
        font-size: 7em;
    }
    .cardMediaPlus {
        scale: 1.8;
    }
    .Card3GridItem {
        width: 70%;
        height: auto;
        padding-bottom: 25px;
    }
    .Card3GridContainer {
        margin-top: 0px;
    }
    .cardMediaSort {
        font-size: 3em;
        width: auto;
    }
}

@media screen and (max-width: 905px) {
    .cardMediaTitle {
        font-size: 6.5rem;
    }
}

@media screen and (max-width: 815px) {
    /* .cardMedia {
    min-height: 440px;
  } */
    .cardMediaTitle {
        font-size: 5.5rem;
    }
    .cardMediaDate {
        font-size: 5em;
    }
    .cardMediaPlus {
        scale: 1.2;
    }
}

@media screen and (max-width: 705px) {
    .cardMediaTitle {
        font-size: 4.7rem;
    }
}

@media screen and (max-width: 605px) {
    .cardMediaTitle {
        font-size: 4.4rem;
    }
    .cardMediaDate {
        font-size: 4.5em;
    }
}

@media screen and (max-width: 555px) {

    .cardMediaTitle {
        font-size: 3.5rem;
    }
    .cardMediaSort {
        top: 0;
        font-size: 2.5em;
        width: auto;
    }
    .cardMediaDate {
        font-size: 3.5em;
    }
    .cardMediaPlus {
        scale: 0.6;
    }
    .cardDateRow{
        padding: 0px;
    }
}

@media screen and (max-width: 422px) {
    .cardMediaTitle {
        font-size: 2.5em;
    }
    .cardMediaSort {
        top: 0;
        font-size: 2.5em;
        width: auto;
    }
    .cardMediaDate {
        font-size: 2.4em;
    }
}

@media screen and (max-width: 322px) {
    .cardMediaTitle {
        font-size: 2rem;
    }
}