.card-new {
  overflow: hidden;
  background-color: var(--color-cream) !important;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-new__action {
  background-color: var(--color-cream) !important;
  width: 100%;
  padding-top: 100%;
  display: block;
  text-align: inherit;
  color: inherit;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.card-new .cardMediaImgBox {
  width: 100%;
  padding-top: 100%;
  position: relative;
  transition: all 0.4s ease;
}

.card-new .cardMedia {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: brightness(50%);
  max-width: 100%;
  min-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-new .cardDateRow {
  display: flex;
  padding: 16px 0px 16px 16px;
  align-items: center;
  position: relative;
  background-color: var(--color-cream);
}

.card-new .cardDateRow.row {
  margin-left: 0px;
  margin-right: 0px;
}

.card-new .cardMediaTitleBox {
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.card-new .cardMediaTitle {
  color: var(--color-cream);
  text-align: left;
  padding: 30% 0;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 7em;
  font-family: "Bebas Neue";
  font-weight: 400;
  line-height: 0.8em;
  word-break: normal;
}

.card-new .cardMediaSort {
  position: absolute;
  color: var(--color-cream);
  background-color: var(--color-negro);
  top: 0;
  width: fit-content;
  text-align: left;
  padding: 4px 10px;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 3em;
  font-family: "Bebas Neue";
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
}

.card-new .column1 { width: 80%; }
.card-new .column2 { width: 20%; }

.card-new .cardMediaDate {
  font-size: 4.5em;
  font-family: "Bebas Neue";
  font-weight: 900;
  line-height: 1em;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 10px;
}

.card-new:hover .cardMediaImgBox {
  transform: scale(1.05);
  opacity: 0.9;
}

@media screen and (max-width: 1872px) {
  .card-new .cardMediaTitle { font-size: 5.5rem; }
}

@media screen and (max-width: 1490px) {
  .card-new .cardMediaTitle { font-size: 4.5rem; }
  .card-new .cardMediaSort { top: 0; font-size: 2.5em; width: auto; }
}

@media screen and (max-width: 1250px) {
  .card-new .cardMediaTitle { font-size: 3.8rem; }
  .card-new .cardMediaDate { font-size: 3.2em; }
}

@media screen and (max-width: 999px) {
  .card-new .cardMediaTitle { font-size: 7rem; }
  .card-new .cardMediaDate { font-size: 7em; }
  .card-new .cardMediaPlus { scale: 1.8; }
  .card-new .Card3GridItem { width: 70%; height: auto; padding-bottom: 25px; }
  .card-new .cardMediaSort { font-size: 3em; width: auto; }
}

@media screen and (max-width: 905px) {
  .card-new .cardMediaTitle { font-size: 6.5rem; }
}

@media screen and (max-width: 815px) {
  .card-new .cardMediaTitle { font-size: 5.5rem; }
  .card-new .cardMediaDate { font-size: 5em; }
  .card-new .cardMediaPlus { scale: 1.2; }
}

@media screen and (max-width: 705px) {
  .card-new .cardMediaTitle { font-size: 4.7rem; }
}

@media screen and (max-width: 605px) {
  .card-new .cardMediaTitle { font-size: 4.4rem; }
  .card-new .cardMediaDate { font-size: 4.5em; }
}

@media screen and (max-width: 555px) {
  .card-new .cardMediaTitle { font-size: 3.5rem; }
  .card-new .cardMediaSort { top: 0; font-size: 2.5em; width: auto; }
  .card-new .cardMediaDate { font-size: 3.5em; }
  .card-new .cardMediaPlus { scale: 0.6; }
  .card-new .cardDateRow { padding: 0px; }
}

@media screen and (max-width: 422px) {
  .card-new .cardMediaTitle { font-size: 2.5em; }
  .card-new .cardMediaSort { top: 0; font-size: 2.5em; width: auto; }
  .card-new .cardMediaDate { font-size: 2.4em; }
}

@media screen and (max-width: 322px) {
  .card-new .cardMediaTitle { font-size: 2rem; }
}
