.wrapper {
    width: 100%;
    background: #1D1D1B;
    height: 40px;
    text-align: left;
}

.marquee {
    background: #1D1D1B;
    color: #FAE6C5;
    white-space: nowrap;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 600;
    text-transform: uppercase;
    -webkit-animation: rightThenLeft 2s linear;
    animation: rightThenLeft 2s linear;
}

@keyframes rightThenLeft {
    0% {
        margin-right: 70%;
    }
    50% {
        margin-right: 0;
    }
    100% {
        margin-right: 70%;
    }
}

.agendaLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Bebas Neue';
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0 2rem 0;
}

.agendaLink a {
    text-decoration: none;
    color: #1D1D1B;
}