.SectionTitleBox {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    /* position: absolute; */
}

.SectionTitle {
    font-size: 60px;
    font-family: 'Bebas Neue';
    position: center;
    font-weight: 600;
    text-align: 'center';
    text-transform: uppercase;
    line-height: 1em;
    color: #1D1D1B;
}


/* 
white-space: nowrap;
    overflow: hidden;
    display: block; */