.SectionTitleBox {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 1.5rem;
}

.SectionTitle {
    font-size: 160px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    color: #1D1D1B;
    width: auto;
}

@media screen and (max-width: 1300px) {
    .SectionTitle {
        font-size: 120px;
    }
}

@media screen and (max-width: 1100px) {
    .SectionTitle {
        font-size: 100px;
    }
}

@media screen and (max-width: 635px) {
    .SectionTitle {
        font-size: 60px;
    }
}


/* 
white-space: nowrap;
    overflow: hidden;
    display: block; */