.galeria {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  min-height: 200px;
  justify-content: space-evenly;
}

.galeria .pswp__img {
  width: auto !important;
}

.galeria img {
  width: auto;
  height: 333px;
  margin: 20px;
}

@media (max-width: 768px) {
  .galeria img {
    width: 280px;
    height: auto;
  }
}
