.free-checkout {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.free-checkout button {
  padding: 10px 50px;
}

.free-checkout__paragraph {
  font-size: 24px;
}
