/* ARTICLES */

.card {
    opacity: 0.9;
    overflow: hidden;
    width: auto;
    border: none;
    border-color: transparent;
}

.card:hover {
    opacity: 1;
}

.card-deck {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;
}

.fullcard {
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 23.68%;
    height: auto;
    display: inline-block;
}

.card-title {
    /* delimitar lineas verticales */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 30px;
    font-family: 'Bebas Neue';
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0rem;
    color: #1D1D1B;
}

.card-text {
    /* delimitar lineas verticales */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-body {
    overflow: hidden;
    z-index: 0;
    background-color: #FAE6C5;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 0;
    transition: all .4s ease;
    vertical-align: middle;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.card-text-price {
    font-family: 'Bebas Neue';
    color: #1D1D1B;
    font-size: 2rem;
}

@media screen and (max-width: 1250px) {
    .card-title {
        font-size: 1.5rem;
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 1008px) {
    .fullcard {
        width: 31.58%;
        height: auto;
        display: inline-block;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .card-body {
        padding: 0.7rem;
    }
}

@media screen and (max-width: 641px) {
    .fullcard {
        width: 47.37%;
        height: auto;
        display: inline-block;
    }
    .card-title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 322px) {
    .fullcard {
        width: 94.7%;
        height: auto;
        display: inline-block;
    }
    .card-title {
        font-size: 1.4rem;
    }
}