/* ARTICLES */

.productCard {
    opacity: 0.9;
    overflow: hidden;
    border: none;
    border-color: transparent;
    position: relative;
}

.productCard:hover {
    opacity: 1;
}

.productCardDeck {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
}

.fullcardBotiga {
    flex: 0 0 33.333333%;
    margin: 0 auto;
    margin-bottom: 3rem;
    overflow: hidden;
    max-width: 467px;
    height: auto;
    display: inline-block;
    justify-content: center;
    min-width: 470px;
    background-color: white;
    cursor: pointer;

}

.productTitle {
    position: absolute;
    bottom: 2%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 2.5rem;
    font-family: 'Bebas Neue';
    font-weight: 300;
    font-style: italic;
    line-height: 1em;
    text-transform: uppercase;
    color: #FAE6C5;
    text-align: left;
}

.productCardBody {
    overflow: hidden;
    z-index: 10;
    background-color: #1D1D1B;
    padding: 1rem;
    padding-bottom: 0rem;
    text-align: center;
    width: 100%;
}

.productImgFrame {
    width: 100%;
    height: 440px;
    overflow: hidden
}

.productImgTop {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    z-index: -10;
    transition: all .4s ease;
    vertical-align: middle;
}

.productImgTop:hover {
    transform: scale(1.05);
}

.productCardPrice {
    font-family: 'Bebas Neue';
    color: #FAE6C5;
    font-size: 2.5rem;
    position: relative;
    text-align: right;
    line-height: 2.9rem;
}

@media screen and (max-width: 641px) {
    .fullcardBotiga {
        min-width: 340px;
    }

    .productImgFrame {
        height: 100%;
        overflow: hidden
    }

    .productTitle {
        font-size: 2rem;
    }

    .productCardPrice {
        font-size: 2rem;
        line-height: 2.1rem;
    }
}

@media screen and (max-width: 465px) {
    .fullcardBotiga {
        min-width: 240px;
    }

    .productTitle {
        font-size: 1.3rem;
    }

    .productCardPrice {
        font-size: 1.3rem;
        line-height: 0.9rem;
    }

    .productCardDeck {
        padding: 1rem;
    }

}