.productBannerTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 4rem;
    font-family: "Bebas Neue";
    line-height: 1em;
    text-transform: uppercase;
    color: #fae6c5;
    text-align: left;
}

.productBanner {
    background-color: #1d1d1b;
    height: 7rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    margin: 0em 1em;
    max-width: 1506px;
    width: 100%;
    padding: 10px 30px;
}

@media screen and (max-width: 1695px) {
    .productBanner {
        max-width: 988px;
        width: 100%;
    }
}

@media screen and (max-width: 1163px) {
    .productBanner {
        max-width: 470px;
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .productBannerTitle {
        font-size: 3rem;
        top: 31%;
    }
}

@media screen and (max-width: 465px) {
    .productBannerTitle {
        font-size: 2.2rem;
        line-height: 1.5rem;
    }
    .productBanner {
        height: 3.4rem;
        margin: 0px;
        padding: 10px 10px;
    }
    .clickBanner {
        padding: 0px 32px;
    }
}