.menu-log {
  position: relative;
}

.menu-log__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-log__item .item {
  color: var(--color-negro);
  font-family: "Bebas Neue";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
