.menuDropdownCart .MuiPaper-root {
    margin-top: 3rem;
    padding-right: 20px !important;
    padding-left: 20px !important;
    width: auto;
}

.menuItemCart {
    cursor: default !important;
    width: 100% !important;
}

.totalCart{
    font-size: 20px;
    font-family: 'Bebas Neue';
    text-align: right;
}

.rowCartProduct {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.colCartProduct1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    /* left: 0; */
    text-align: left;
    margin-right: 20px;
    /* align-items: center; */
}

.colCartProduct2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 40px;
    font-family: 'Bebas Neue';
    text-align: right;
}

.titleCartProduct {
    width: 100%;
    font-size: 20px;
}

.rowDetailedCart {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    width: 100%;
}

.cartPriceProduct {
    width: 40%;
    /* margin-right: 30px; */
}

.quantityPriceProduct {
    width: 60%;
    /* padding-right: 10px; */
}

.addCart,
.subsCart {
    cursor: pointer;
}

.buttonCheckoutCart{
    background-color: #1D1D1B;
    font-size: 20px;
    font-family: 'Bebas Neue';
    color: #FAE6C5;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    cursor: pointer;
    /* margin-left: 2rem;
    margin-right: 2rem; */
}

.separadorCartDrop{
    width: 100%;
    margin: 0 auto;
}