/* MENU SUPERIOR */


/* https://codepen.io/grohit/pen/jObGzdG */

.menuSuperior {
    background-color: #1D1D1B !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    vertical-align: middle;
    margin: 0;
}

.nav-ul li {
    display: inline-block;
    vertical-align: middle;
}

.nav-ul {
    li {
        a.active {
            color: #EB5E3E;
        }
    }
}

.nav-ul.show {
    display: none;
    list-style-type: none;
    list-style: none;
}

.nav-ul {
    list-style: none;
    display: flex;
    li {
        a {
            display: inline-block;
            font-family: 'Bebas Neue';
            font-weight: lighter;
            font-size: 2.5rem;
            margin-right: 20px;
            font-weight: 400;
            text-decoration: none;
            color: #FAE6C5;
            transition: all 0.5s ease-in-out;
            position: relative;
            text-transform: uppercase;
            &::before {
                content: attr(data-item);
                transition: 0.5s;
                color: #F2C571;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 10;
                width: 0;
                overflow: hidden;
            }
            &:hover {
                &::before {
                    width: 100%;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
}

.menuButton a, .cartIconMenu {
    font-family: 'Bebas Neue';
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 10px;
    display: inline-block;
    color: #FAE6C5;
    position: relative;
    transition: all 0.5s ease-in-out;
    &::before {
        content: attr(data-item);
        transition: 0.5s;
        color: #F2C571;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
    }
    &:hover {
        &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
        }
    }
}

.cartIconMenu{
    width: 2.2rem !important;
    height: auto !important;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 4px;
    cursor: pointer; 
}


// #MenuOptionsLogin {
//     border: 2px solid #EB5E3E !important;
//     border-radius: 30px;
//     padding: 3px 6px 3px 6px;
// }
.logBox {
    vertical-align: middle;
}

.menuIcon {
    display: none;
    font-size: 2rem;
    color: #FAE6C5;
}

@media screen and (max-width: 1000px) {
    .nav-ul {
        display: none;
        flex-direction: column;
        flex: 100%;
    }
    .menuOptionsCollapsed {
        flex-direction: column;
        flex: 0 0 100%;
        align-items: center;
        justify-content: center;
    }
    a.menuOptions {
        flex: 0 0 100%;
        color: #FAE6C5;
        font-family: 'Bebas Neue';
        font-weight: 400;
        font-size: 2.5rem;
        margin-right: 20px;
        font-weight: bold;
        text-decoration: none;
    }
    .liMenuOptions {
        margin: 2rem;
    }
    .menuOptionsCollapsed ul {
        list-style: none;
        list-style-type: none;
    }
    .menuIcon {
        display: block;
    }
    .buttonMenu {
        width: 60%;
    }
}