/* MENU SUPERIOR */

.menuSuperior {
    background-color: #F2C571 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    /* vertical-align: center; */
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0; */
    list-style-type: none;
    vertical-align: middle;
    margin: 0;
}

.nav-ul li {
    display: inline-block;
    vertical-align: middle;
}

.nav-ul li a {
    display: inline-block;
    color: #1D1D1B;
    font-family: Arial;
    font-weight: lighter;
    font-size: 1.5rem;
    padding-right: 10px;
    text-decoration: none;
}

.menuButton a {
    font-family: Arial;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    color: #1D1D1B;
}


/* a.active {
    font-weight: bold;
    text-decoration: none;
    color: white;
} */

.logBox {
    vertical-align: middle;
}

.menuIcon {
    display: none;
    font-size: 2rem;
}

@media screen and (max-width: 1000px) {
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .nav-ul.show {
        display: flex;
    }
    .menuIcon {
        display: block;
    }
}