.image-box {
  border: 4px solid var(--color-negro);
  border-radius: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
}

.image-box--has-images {
  align-items: space-between;
}

.image-box--no-images {
  align-items: center;
}

.image-box .image-item {
  margin: 0px 12px 18px 0px;
}

.image-box .upload__image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-box .btn-wrapper {
  display: flex;
  justify-content: center;
}

.image-label-box {
  text-align: left;
  margin: 0px 0px -14px 13px !important;
}

.image-label {
  display: flex;
  position: relative;
  background-color: var(--color-cream);
  width: fit-content;
  color: var(--color-negro);
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 20px;
  z-index: 1000;
  line-height: 0.8;
  padding: 0px 4px !important;
}

.image-label svg {
  width: 20px;
}

.image-label > div {
  top: -12px;
}
