#associacio {
  background-color: #eb5e3e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

.cover-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  video::-internal-media-controls-overlay-cast-button {
    display: none;
}
}

#associacio > .wrapper {
  margin-top: -6px;
}

.portadaFallback {
  width: 100%;
  height: auto;
}
