.error-page {
  width: 100%;
  height: 100%;
  background-color: var(--color-rojo);
}

.error-page .body-app {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page .body-app .single-msg {
  width: fit-content;
  text-align: center;
}

.error-page #link {
  font-family: "Bebas Neue";
  font-size: 44px;
  line-height: 48px;
}

.error-page span {
  display: none;
}

.error-page #link:hover span {
  display: contents;
}
