.card-layout {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  min-height: min-content;
  animation: card-layout-fadein 300ms;
  background-color: var(--color-cream);
}

.card-layout--empty {
  min-height: 300px;
}

@keyframes card-layout-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.card-layout .cardSupportDeck > i {
  width: 570px;
  min-width: 570px;
  height: 340px;
  margin: 0px 24px 48px 24px;
}

.card-layout .fullcard {
  margin: 0px 24px 48px 24px;
  overflow: hidden;
  width: 570px;
  max-width: 570px;
  display: inline-block;
  justify-content: center;
  min-width: 570px;
  aspect-ratio: 570 / 340;
}

.card-layout .cardSupport {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background-color: black;
  container-type: inline-size;
}

.card-layout .cardSupportImgTop {
  display: block;
  width: 100%;
  height: 500px;
  max-height: 500px;
  object-fit: cover;
  z-index: 0;
  transition: all 0.4s ease;
  opacity: 0.6;
  vertical-align: middle;
}

.card-layout .cardSupport:hover .cardSupportImgTop {
  transform: scale(1.05);
  opacity: 0.7;
}

.card-layout .cardSupportImgTop:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.card-layout .cardSupportPlusBox {
  position: absolute;
  right: 5%;
  bottom: 5%;
  transform-origin: bottom right;
}

@container (max-width: 450px) {
  .card-layout .cardSupportPlusBox {
    transform: scale(0.75);
  }
}

@container (max-width: 300px) {
  .card-layout .cardSupportPlusBox {
    transform: scale(0.5);
  }
}

.card-layout .cardSupportPlusBox > div > div {
  font-size: 4em;
  line-height: 0.8em;
}

.card-layout .cardTagBox {
  position: absolute;
  text-transform: uppercase;
  width: auto;
  height: 3rem;
  padding: 0px 10px;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 600;
  color: #fae6c5;
  background-color: #1d1d1b;
  left: 5%;
  top: 5%;
}



@media screen and (max-width: 1500px) {
  .card-layout .fullcard { flex: 1 0 50%; }
}

@media screen and (max-width: 640px) {
  .card-layout .fullcard { display: block; min-width: 0; width: auto; max-width: 100%; }
}
