.membership-box {
  height: 100%;
  min-height: min-content;
  background-color: var(--color-cream);
  flex-direction: column;
  justify-content: space-between;
}

.membership-box--empty {
  min-height: 600px;
}

.membership-box .disclaimer-frame {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
