/* COLOURS */


/*
#FAE6C5 Crema
#F2C571 Naranja
#EB5E3E Rojo
#1D1D1B Negro

font-family: 'Bebas Neue';
font-family: 'Libre Baskerville';
*/

.App {
    text-align: center;
    background-color: #FAE6C5;
    width: 100%;
    max-width: 2800px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
}

.Bloque {
    display: flex;
    border-color: white;
    border-radius: 2px;
    min-height: 100vh;
    /* min-width: 100vh; */
    overflow-y: hidden;
}

.ContainerAmeba {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    align-items: center
}

.left-side {
    width: 60%;
}

.right-side {
    width: 40%;
}

.titulo>h1 {
    font-size: 120px;
    font-family: 'Bebas Neue';
    /* font-weight: 300; */
}

div>.nav-item {
    margin: auto;
    padding: 0px 10px 0px 10px;
}

#locals {
    padding-top: 56px;
    position: relative;
}

.titleCoverCanvas {
    height: 600px;
    width: 1200px;
    background-image: url("./images/PARKFEST.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.titleCoverImage {
    position: relative;
    bottom: 0;
    background: rgb(29, 29, 27);
    background: rgba(29, 29, 27, 0.5);
    background-size: contain;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    opacity: 1.2;
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'Bebas Neue';
    font-weight: 900;
    padding: 15% 0;
}

.subtitleCoverImage {
    font-size: 40px;
    font-family: 'Bebas Neue';
    font-weight: 600;
    color: white;
}

#colabo {
    position: flex;
}

.BGWrapper {
    position: relative;
    margin: auto;
}

.CenteredImage {
    position: relative;
    height: 20%;
    width: auto;
}

/* Animacion de hover title */
/* 
@keyframes TitleHovered {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }
    2% {
        background-color: rgba(255, 0, 0, 0.8);
    }
    23% {
        background-color: rgba(255, 255, 0, 0);
    }
    25% {
        background-color: rgba(255, 255, 0, 0.8);
    }
    48% {
        background-color: rgba(0, 0, 255, 0);
    }
    50% {
        background-color: rgba(0, 0, 255, 0.8);
    }
    98% {
        background-color: rgba(0, 128, 0, 0);
    }
    100% {
        background-color: rgba(0, 128, 0, 0.8);
    }
}

div.PowerTitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

div.PowerTitle:hover {
    color: tomato;
    background-color: yellowgreen;
    animation-name: TitleHovered;
    animation-duration: 1s;
    animation-iteration-count: infinite;
} */

@media screen and (max-width: 835px) {
    .PowerTitle {
        display: none;
    }
    .fullTableActiv {
        padding-top: 1rem;
    }
}

/* .Articles{
    padding-bottom: 6em;
} */

.Articles,
.Botiga {
    background-color: #EB5E3E;
    padding-bottom: 6em;
}

.SupportContent {
    background-color: #FAE6C5;
    padding-bottom: 6em;
}

#festi,
#shop {
    background-color: #FAE6C5;
}

#contacte,
#locals {
    background-color: #F2C571;
}

.HomeContent {
    display: block;
    overflow: auto;
}


/* FORM CONTROL */

.Article {
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    margin-top: 100px;
}

.form-control.control-error {
    border: 1px solid red;
}


/* SESSIO */

.sessio {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselFrame {
    width: 60%;
    justify-content: center;
    margin: auto;
}


/* WORDS CAROUSEL */

.wordsMoveFrame {
    width: 100%;
    height: 24px;
    background-color: #1D1D1B;
}

.wordsMove {
    color: white;
    font-weight: bold;
    position: relative;
    width: 300px;
    animation-name: wordsInMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes wordsInMove {
    0% {
        background: red;
        left: 0px
    }
    50% {
        background: green;
        left: 100px;
    }
    100% {
        background: blue;
        left: 80%;
    }
}


/* LOGIN NUEVO */

label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}

.card {
    background-color: #f7f7f7;
    /* padding: 20px 25px 30px; */
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}