/* COLOURS */


/*
#FAE6C5 Crema
#F2C571 Naranja
#EB5E3E Rojo
#1D1D1B Negro
#FFED00 Amarillo

font-family: 'Bebas Neue';
font-family: 'Libre Baskerville';
font-family: 'Montserrat', sans-serif;
*/

.App {
    text-align: center;
    background-color: #FAE6C5;
    width: 100%;
    max-width: 100%;
    /* max-width: 2800px; */
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    margin: 0;
    padding: 0;
}

.Bloque {
    display: flex;
    border-color: white;
    border-radius: 2px;
    min-height: 100vh;
    overflow-y: hidden;
}

.ContainerAmeba {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    align-items: center
}

.left-side {
    width: 60%;
}

.right-side {
    width: 40%;
}

.titulo>h1 {
    font-size: 120px;
    font-family: 'Bebas Neue';
    /* font-weight: 300; */
}

div>.nav-item {
    margin: auto;
    padding: 0px 10px 0px 10px;
}

#locals {
    padding-top: 56px;
    position: relative;
}

.titleCoverCanvas {
    height: 600px;
    width: 1200px;
    background-image: url("./images/PARKFEST.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.titleCoverImage {
    position: relative;
    bottom: 0;
    background: rgb(29, 29, 27);
    background: rgba(29, 29, 27, 0.5);
    background-size: contain;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    opacity: 1.2;
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: 'Bebas Neue';
    font-weight: 900;
    padding: 15% 0;
}

.subtitleCoverImage {
    font-size: 40px;
    font-family: 'Bebas Neue';
    font-weight: 600;
    color: white;
}

#colabo {
    position: flex;
}

.BGWrapper {
    position: relative;
    margin: auto;
}

.CenteredImage {
    position: relative;
    height: 20%;
    width: auto;
}


/* DIALOGS/MODALS */
.MuiDialog-paperWidthSm {
    max-width: 39.375rem !important;
}

.MuiCard-root {
    overflow-y: auto !important;
}

.MuiCardActions-spacing,
.MuiCardActions-root {
    float: right;
}

.MuiCard-root::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.MuiCard-root::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.MuiCard-root::-webkit-scrollbar-thumb {
    background-color: #1D1D1B;
}

@media screen and (max-width: 835px) {
    .PowerTitle {
        display: none;
    }

    .fullTableActiv {
        padding-top: 1rem;
    }
}

.Articles,
.Botiga {
    background-color: #EB5E3E;
    /* padding-bottom: 6em; */
}

.SupportContent {
    background-color: #FAE6C5;
    /* padding-bottom: 6em; */
}

#festi,
#shop {
    background-color: #FAE6C5;
}

#contacte,
#locals {
    background-color: #F2C571;
}

.HomeContent {
    display: block;
    overflow: auto;
}

/* FORM CONTROL */

.Article {
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    margin-top: 100px;
}

/* .form-control.control-error {
    border: 1px solid red;
} */


/* SESSIO */

.sessio {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselFrame {
    width: 60%;
    justify-content: center;
    margin: auto;
}


/* WORDS CAROUSEL */

.wordsMoveFrame {
    width: 100%;
    height: 24px;
    background-color: #1D1D1B;
}

.wordsMove {
    color: white;
    font-weight: bold;
    position: relative;
    width: 300px;
    animation-name: wordsInMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes wordsInMove {
    0% {
        background: red;
        left: 0px
    }

    50% {
        background: green;
        left: 100px;
    }

    100% {
        background: blue;
        left: 80%;
    }
}


/* LOGIN NUEVO */
.loginWall {
    background-color: #EB5E3E;
}

.logTitle {
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    color: #1D1D1B;
    font-size: 4.5rem;
}

input.logForm {
    background-color: transparent;
    border: 4px solid #1D1D1B;
    border-radius: 0rem;
    padding-top: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #1D1D1B;
    font-size: 1.2rem;
    font-weight: bold;
}

input.logForm:focus {
    background-color: #FAE6C5;
    border: 4px solid #F2C571;
}

input.logForm::placeholder {
    text-transform: uppercase;
    padding-top: 2px;
    font-family: 'Bebas Neue';
    color: #1D1D1B;
    font-size: 2rem;
}

.logFormButton {
    background-color: #1D1D1B;
    color: #FAE6C5;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 1.8rem;
    max-width: 110px !important;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

.card-login{
    border-width: 0px !important;
    margin: 0 auto 25px;
    margin-top: 50px;
    max-width: 500px !important;
    background-color: transparent !important;
    padding: 40px 40px;
}

.logTextosLink {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: #1D1D1B;
}

.logTextosLink:hover {
    text-decoration: underline;
}

.logTextosLinkRegistrat{
    margin: 0.8rem 0rem 0.5rem 0rem;
}

.sociLogBanner{
    background-color: #F2C571;
    color: #1D1D1B;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.8rem;
    cursor: pointer;

}

.sociLogBannerPlus {
    background-color: #1D1D1B;
    color: #F2C571;
    margin-left: 0.5rem;
    /* padding: 2px; */
    height: 10px;
    width: 10px;
    /* line-height: 10px;; */
}

.succesful-login-modificar {
    background-color: #1D1D1B;
    cursor: pointer;
    color: #FAE6C5;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-size: 1.8rem;
    max-width: 110px !important;
    margin: 0 auto;
}

