.app {
  text-align: center;
  background-color: var(--color-cream);
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  animation: fadein 300ms;
  overflow-x: hidden;
}

.app-main-view {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.app .logViewRed {
  height: 100%;
  background-color: var(--color-rojo);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .logViewYellow {
  width: 100%;
  min-height: min-content;
  background-color: var(--color-cream);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}

.app img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.app .checkoutViewYellow {
  background-color: var(--color-cream);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  min-height: min-content;
}

.app .freeCheckout-box {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.app .profileTitle {
  width: 100%;
  font-size: 120px;
  font-family: "Bebas Neue";
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .app .profileTitle { font-size: 80px; }
}

@media screen and (max-width: 400px) {
  .app .profileTitle { font-size: 60px; }
}

.app .cardForm {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .app .cardForm {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.app *:focus {
  outline: 0;
}

@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@-moz-keyframes rotation {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(359deg); }
}
@-o-keyframes rotation {
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(359deg); }
}
@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes loading {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.app .Bloque {
  display: flex;
  position: relative;
  border-color: white;
  border-radius: 2px;
  flex-direction: column;
  overflow-y: hidden;
}

.app .ContainerAmeba {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  align-items: center;
}

.app .left-side { width: 60%; }
.app .right-side { width: 40%; }

.app .titulo > h1 {
  font-size: 120px;
  font-family: "Bebas Neue";
}

.app div > .nav-item {
  margin: auto;
  padding: 0px 10px 0px 10px;
}

.app .titleCoverImage {
  position: relative;
  bottom: 0;
  background: rgb(29, 29, 27);
  background: rgba(29, 29, 27, 0.5);
  background-size: contain;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 100px;
  font-family: "Bebas Neue";
  font-weight: 900;
  padding: 15% 0;
}

.app .error-message { color: red; }

.app .subtitleCoverImage {
  font-size: 40px;
  font-family: "Bebas Neue";
  font-weight: 600;
  color: white;
}

.app #colabo { position: flex; }

.app .CenteredImage {
  position: relative;
  height: 20%;
  width: auto;
}

/* Main Flyer */
.app .mainFlyer {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .app .mainFlyer { width: 100%; height: auto; }
}

.app .Articles,
.app .Botiga,
.app .BookingContent {
  background-color: var(--color-rojo);
  flex: 1;
}

.app .SupportContent { background-color: var(--color-cream); }

.app #festi,
.app #shop { background-color: var(--color-cream); }

.app #contacte { background-color: var(--color-naranja); }

.app .HomeContent {
  display: block;
  overflow: auto;
}

/* FORM CONTROL */
.app .Article {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  margin-top: 100px;
}

/* SESSIO */
.app .sessio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .carouselFrame {
  width: 60%;
  justify-content: center;
  margin: auto;
}

/* WORDS CAROUSEL */
.app .wordsMoveFrame {
  width: 100%;
  height: 24px;
  background-color: var(--color-negro);
}

.app .wordsMove {
  color: white;
  font-weight: bold;
  position: relative;
  width: 300px;
  animation-name: wordsInMove;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wordsInMove {
  0% { background: red; left: 0px; }
  50% { background: green; left: 100px; }
  100% { background: blue; left: 80%; }
}

/* LOGIN NUEVO */
.app .loginWall { background-color: var(--color-rojo); }

.app .toast-black-background {
  background-color: var(--color-negro) !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app .Toastify__toast-body { margin: 0 auto; }

.app .Toastify__toast-container { width: 70% !important; }

@media screen and (max-width: 480px) {
  .app .Toastify__toast-container { width: 100% !important; }
}

.app .logTitle {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  color: var(--color-negro);
  font-size: 4.5rem;
  line-height: 4rem;
  word-break: break-word;
}

@media screen and (max-width: 465px) {
  .app .logTitle {
    font-size: 2.8rem;
    line-height: 2.6rem;
  }
}

.app .logTitleSmall {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  color: var(--color-negro);
  font-size: 2.5rem;
  margin-top: 0px;
}

.app .new-member-title {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  color: var(--color-negro);
  font-size: 4.5rem;
  margin-bottom: 0px;
  margin-top: 20px;
}

.app .checkout-payment-summary {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  color: var(--color-negro);
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  max-width: 500px;
}

.app input.logForm {
  background-color: transparent;
  border: 4px solid var(--color-negro);
  border-radius: 0rem;
  padding: 12px 14px 12px 12px;
  font-family: "Montserrat", sans-serif;
  color: var(--color-negro);
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}

.app input.logForm:focus {
  background-color: var(--color-cream);
  border: 4px solid var(--color-naranja);
}

.app input.logForm::placeholder {
  text-transform: uppercase;
  padding-top: 2px;
  font-family: "Bebas Neue";
  color: var(--color-negro);
  font-size: 2rem;
  transform: translateY(6px);
}

.app .recovery-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.app .form-button { width: 100% !important; }

.app .form-group {
  display: flex;
  z-index: 0;
}

.app .logFormButton {
  background-color: var(--color-negro);
  color: var(--color-cream);
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 1.8rem;
  max-width: 130px !important;
  margin: 0 auto;
  opacity: 1;
  pointer-events: initial;
}

.app label {
  display: block;
  margin-top: 10px;
}

.app .card-form {
  display: flex;
  flex-direction: column;
  border-width: 0px !important;
  margin: 0 auto;
  max-width: 500px !important;
  background-color: transparent !important;
  padding: 40px 40px;
}

.app .card-form a { text-decoration: none; }

@media screen and (max-width: 640px) {
  .app .card-form { padding: 40px 20px; }
}

.app .sociLogBanner {
  background-color: var(--color-naranja);
  color: var(--color-negro);
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px;
  line-height: normal;
}

.app .succesful-login-modificar {
  background-color: var(--color-negro);
  cursor: pointer;
  color: var(--color-cream);
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 1.8rem;
  max-width: 110px !important;
  margin: 0 auto;
}

.app .succesful-login {
  color: var(--color-cream);
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 1.8rem;
  margin: 0 auto;
}

/* Main page messages */
.app .full-height-msg {
  background-color: var(--color-rojo);
  flex: 1 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}

.app .single-msg {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .logFormEmailPasswordRecovery { margin-top: 1.8rem !important; }

/* Toasts */
.app .notificationToast-success {
  color: var(--color-negro);
  font-weight: bold;
  background-color: #bbe5c2;
}

.app .notificationToast-error {
  color: var(--color-negro);
  font-weight: bold;
  background-color: #f9adb3;
}

.app .notificationToast-warning {
  color: var(--color-negro);
  font-weight: bold;
  background-color: #f5f1bb;
}

.app .notificationToast-info {
  color: var(--color-negro);
  font-weight: bold;
  background-color: #a2d8f4;
}

.centered-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}